DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/ajs"
AUTH_SESSION_SECRET="ajs-local-dev-session-secret-change-me-2026"
AJS_SUPERADMIN_EMAIL="superadmin@ajs.local"
AJS_SUPERADMIN_NAME="Super Admin AJS"
AJS_SUPERADMIN_PASSWORD="Superadmin123!"
NEXT_PUBLIC_APP_NAME="AJS Learning Hub"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
